*{
	font-family: helvetica;
}

body{
	margin: 0;
	padding: 0;

}

header{
	display: flex;
	justify-content: center;
	height: 120px;
}

.container{
	width: 990px;
	display: flex;
	justify-content: space-between;
	
}

.logo{
	display: flex;
	align-items: center;
	
}

.menu{
	display: flex;
	align-items: center;
	

}

nav ul,
nav li{
	list-style: none;
	margin: 0;
	padding:0;
}

nav ul{
	display: flex;
}

nav a{
	
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
	padding: 15PX;
	font-family: arial;
}

nav .active a,
nav a:hover{
	background-color: #39aae1;
	color: white;

}

#banner{
	background-image: url('../images/img1.jpg');
	background-position: center;
	background-size: cover;
	height: 670px;
	display: flex;
	justify-content: center;
}

.column{
	flex-direction: column;

}

.banner_headline{
	flex: 1;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner_headline h1{
	color: white;
	font-size: 65px;
	font-family: helvetica;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 400px;
}
.banner_headline h2{
	color: white;
	font-size: 22px;
	font-family: helvetica;
	text-shadow: 0px 1px 0px #555555;
	margin: 0;
	padding: 0;
	max-width: 400px;
	margin-top: 30px;
}

.banner_options{
	height: 210px;
	display: flex;
	justify-content: center;
}

.banner1,
.banner2,
.banner3{
	flex: 1;
	justify-content: space-between;
	padding: 20px;
}

.banner1{
	background-color: #42b3e5;
}

.banner2{
	background-color: #0384ce;
}
.banner3{
	background-color: #3156a3;

}

.banner_title{
	font-family: helvetica;
	font-size: 21px;
	color: white;

}

.banner_desc{
	font-size: 12px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;

}

.banner_options a{
	display: inline-block;
	border: 1px solid #FFFFFF;
	padding: 5px;
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.horarios{
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 14px;
	padding: 5px;
	border-bottom: 1px solid #4468b2;
}

#geral {
	display: flex;
	justify-content: center;
}

#geral section{
	flex: 2;
}
#geral aside{
	flex: 1;
}

.widget_title{
	margin-top: 30px;
	margin-bottom: 20px;
}

.widget_title_text{
	color: black;
	font-size: 15px;
	font-weight: bold;
}

.widget_title_bar{
	width: 50px;
	height: 2px;
	background-color: #42b3e5;
	margin-top: 10px;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

article{
	flex: 1;
	min-width: 300px;
	margin-right: 30px;
}

article a{
	text-decoration: none;

}

article .news_data{
	display: flex;

}

article .news_posted_at{
	background-color: #3156a3;
	color: white;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
}

article .news_comments{
	background-color: #42b3e5;
	color: white;
	font-size: 12px;
	padding: 10px;
}

article .news_thumbnail{
	margin-top: 30px;
}

article .news_thumbnail img{
	width: 100%;
	height: auto;
}

article .news_title{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

article .news_resume{
	color: #666666;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 25px;
}

aside a{
	text-decoration: none;
}

aside .news_posted_asside{
	display: flex;
	justify-content: space-between;
	background-color: #3156a3;
	font-size: 18px;
	color: white;
	padding: 10px;
}


aside .thumb_aside img{
	margin-top: 20px;
}

aside .widget_thumb_desc{
	display: flex;
}


aside .aside_desc{
	font-size: 12px;
	color: #666666;
	padding: 28px;
}

aside .aside_more_title{
	display: flex;
	justify-content: flex-end;
}

aside .details {
	color: white;
	background-color: #3156a3;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
}

aside .timetable{
	color: white;
	background-color: #3156a3;
	font-size: 12px;
	padding: 10px;
}

aside .Topics{
	display: flex;
	border-bottom: 1px solid #666666;
	justify-content: space-between;
	
}

aside .topics_text{
	font-size: 16px;
	color: #666666;
}

aside .signal{
	color: #3156a3;
	font-size: 20x;

}

aside .appointment_desc{
	margin-top: 30px;
	color: #666666;
	font-size: 12px;
	padding-bottom: 30px;
	border-bottom: 1px solid #666666;
	
}


aside .flavicon_img img{
	width:20px;
	height: 20px;
	padding: 10px;

}

aside .flavicon_img p{
	float: right;
	margin-left: 5px;
	font-size: 12px;
	color: #666666;

}

aside .flavicon_contact{
	color: #666666;
	font-size: 12px;
}

aside .aside_flavicon_desc{
	display: flex;
	justify-content: space-between;
	justify-items: center;
	border-bottom: 1px solid #666666;
}

footer{
	background-color: #202020;
	display: flex;
	justify-content: center;
}

.footer_menu{
	display: flex;
	
}

.footer_menu h1{
	color: white;
	font-size: 18px;

}

.footer_menu h2{
	color: white;
	font-size: 10px;
}

.footer_menu a{
	display: block;
	text-decoration: none;
}

.fm1, .fm2, .fm3{
	flex: 1;
	color: white;
	padding: 20px;
}

.fm1{
	background-color: #42b3e5;
}

.fm2{
	background-color: #0384ce;
}
.fm3{
	background-color: #3156a3;

}

.footer_area{
	display: flex;

	
}

.flexcolumn{
	flex-direction: column;
}

.footer_areaitem{
	flex: 1;
	color: white;
	
}

footer .widget_title_text{
	color: white;
}

.footer_rodape{
	display: flex;

}


.footer_contact{
	display: flex;
	justify-content: space-between;
}

.footer_contact, .contact_txt1{
	margin-top: 12px;
	font-size: 12px;
}

.footer_contact, .contact_txt2{
	margin-right: 20px;
	margin-top: 12px;
	font-size: 12px;
}

.contact_navicon{
	display: flex;
	margin-top: 30px;

}

.contact_navicon img{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.txt1, .txt2, .txt3{
	flex: 1;
	color: #666666;
	font-size: 12px;

}
.txt_month{
	color: #42b3e5;
	font-size: 9px;
}

.txt2_conteudo1,
.txt2_conteudo2,
.txt2_conteudo3{
	margin-bottom: 30px;
}

.footer_border{
	border-bottom: 1px solid #666666;
}

.footer_copy{
	color: white;
	height: 40px;
	line-height: 40px;
	font-size: 9px;
	
}




